* {
    border-style: none;
    font-family: Google Sans;
}

.gb_Xd.gb_Me .gb_De .gb_Qe {
    background-color: #333;
}

.gb_af {
    color: #cccccc;
}

.gb_bf {
    filter: invert(200%);
    opacity: 0.4;
}

.neVct-SX9D7d-ornU0b, .Q0hgme-Yygnk-m5SR9c, .z5C9Gb-xl07Ob-LgbsSe, .YsLxq-O1htCb-ZMv3u .JbbQac-gvZm2b, .YsLxq-O1htCb-ZMv3u .IZ65Hb-INgbqf .nQ1Faf, .YsLxq-O1htCb-ZMv3u .IZ65Hb-INgbqf .zyxPWd, .YsLxq-O1htCb-ZMv3u .IZ65Hb-INgbqf .VsHK1d, .YsLxq-O1htCb-ZMv3u .IZ65Hb-INgbqf .JqEhuc, .YsLxq-O1htCb-ZMv3u .IZ65Hb-INgbqf .xl07Ob {
    filter: invert(1) ;
}

body {
    background-color: #383838;
    color: #dedede;
}

body.gb_ce {
    background-color: #2e2e2e;
}

div.Q0hgme-LgbsSe.Q0hgme-Bz112c-LgbsSe.IZ65Hb-NGme3c.VIpgJd-LgbsSe.K4efff.zTETae-h1U9Be-hxXJme.VIpgJd-LgbsSe-ZmdkE {
    background-color: #f52381;
}

div.Q0hgme-LgbsSe.Q0hgme-Bz112c-LgbsSe.IZ65Hb-NGme3c.VIpgJd-LgbsSe.zTETae-h1U9Be-hxXJme.VIpgJd-LgbsSe-ZmdkE {
    background-color: #f09918;
}

div.Q0hgme-LgbsSe.Q0hgme-Bz112c-LgbsSe.VIpgJd-LgbsSe.gb_ie.gb_ge.gb_kb.z5C9Gb-xl07Ob-LgbsSe.UU3Zxb-LgbsSe.VIpgJd-LgbsSe-ZmdkE {
}

div.Q0hgme-LgbsSe.Q0hgme-Bz112c-LgbsSezyxPWd.INgbqf-LgbsSe.VIpgJd-LgbsSe.JbbQac-AHmuwe-i5vt6e.VIpgJd-LgbsSe-ZmdkE:hover {
    filter: invert(200%);
}

div.Q0hgme-vDaB1c.ZiwkRe {
    background-color: rgb(255, 124, 10);
    color: #f7f7f7;
}

div.RfDI4d-bN97Pc.ogm-kpc {
    background-color: #383838;
    padding-top: 0.1em;
}

div.gb_Ad.gb_Rd.gb_Jd {
    background-color: #2e2e2e;
}

div.gb_Ld.gb_2d.gb_Td {
    background-color: #333333;
}

div.gb_Md.gb_3d.gb_Ud {
    background-color: #2E2E2E;
}

div.gb_uc {
    color: #dedede;
}

div.hSRGPd-e1YmVc {
    background-color: #ededed;
}

div.neVct-LS81yb-tJHJj {
    color: #b3b3b3;
}

div.neVct-Ne3sFf-fmcmS {
    background-color: #ff6f00;
    border-radius: 5px;
    color: #ffffff;
    font-family: Google Sans;
    font-weight: bold;
}

div.notranslate.IZ65Hb-YPqjbf.fmcmS-x3Eknd.CmABtb-YPqjbf {
    color: #2e2e2e;
}

div.notranslate.IZ65Hb-YPqjbf.fmcmS-x3Eknd.h1U9Be-YPqjbf a {
    color: #3a82ba;
    font-family: monospace;
    font-size: 11px;
    text-decoration: none;
}

div.notranslate.IZ65Hb-YPqjbf.fmcmS-x3Eknd.h1U9Be-YPqjbf.zfdrlf-WsjYwc-sLO9V {
    font-size: 13px;
}

div.notranslate.IZ65Hb-YPqjbf.fmcmS-x3Eknd.r4nke-YPqjbf {
    color: #1a181a;
}

div.tJHJj-ZMv3u.YsLxq-O1htCb-ZMv3u.ZiwkRe {
    background-color: #242424;
}

div.x5ghY-MJoBVe-b0t70b-tJHJj {
    background-color: #3b3b3b;
    font-family: Google Sans;
}

form.gb_Ee.aSVJYc-G0jgYd-ZMv3u {
    background-color: #424242;
    color: #dedede;
}

form.gb_Pe.aSVJYc-G0jgYd-ZMv3u {
    background-color: #2E2E2E;
}

img.gb_la.gb_Ud {
    filter: sepia(10%)
saturate(500%)
;
}

img.gkA7Yd-HiaYvf.HiaYvf-Vj7tjb {
    border-color: #424242;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.92);
}

input.gb_0e {
    color: #dedede;
    display: none;
}

input.gb_af {
    filter: invert(85%);
    font-size: 1.125em;
}

input.gb_bf {
    color: #0a0a0a;
}

li.gb_Kc.gb_Qc.xl07Ob-ibnC6b.gk6SMd {
    background-color: #616161;
}

li.gb_Lc.gb_Rc.xl07Ob-ibnC6b.gk6SMd {
    background-color: #575757;
}

li.gb_zc.gb_Fc.xl07Ob-ibnC6b.gk6SMd {
    background-color: #262626;
}

span.gb_0c {
    color: #adadad;
}

span.gb_Dc {
    color: #858585;
}

span.gb_Oc {
    color: #b3b3b3;
}

span.gb_Pc {
    color: #a3a3a3;
}

span.gvZm2b-NnAfwf {
    color: #f5a911;
}

ul.gb_Hc {
    border-style: none;
}

ul.gb_wc {
    border-style: none;
}

ul.gb_wc.x00ATb-JNdkSc {
    border-style: none;
}

div.gb_Nd.gb_4d.gb_Vd {
    background-color: #303030;
}

span.gb_Qc {
    color: #949494;
}

form.gb_Re.aSVJYc-G0jgYd-ZMv3u {
    background-color: #424242;
}

li.xl07Ob-ibnC6b.gk6SMd {
    background-color: #464646;
}

li.xl07Ob-ibnC6b.gk6SMd svg {
    color: #f4b608;
}

#gb > div.gb_Nd.gb_4d.gb_Vd > div.gb_Tc.gb_Zd.gb_Ne.gb_Ce.gb_Ke > div.gb_Ee > form > div > input {
    color: #dedede;
}

input.gb_cf {
    filter: invert(0.5) ;
}

